{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<section class="documentation">
    <div class="header">
        Sources
    </div>
    <div class="pdfs">
        <a href="{% static 'main/planOfWorkLog.pdf'%}" target="_blank" rel="noopener noreferrer">
            Plan of Work Log
        </a>
        <br>
        <a href="{% static 'main/studentCopyrightChecklist.pdf'%}" target="_blank">Student Copyright Checklist</a>
    </div>
        <div class="sources">
            <p>Forbes, Michelin Guide, bon appétit, and TripAdvisor  for SimplyGreen's Certifications and Ratings on the Home Page</p>
        <p>“5 Cheap and Easy Ways to Reduce Your Carbon Footprint in the Kitchen.” FoodCycler, <a href="https://foodcycler.com/blogs/sustainability/5-cheap-and-easy-ways-to-reduce-your-carbon-footprint-in-the-kitchen?srsltid=AfmBOoo4jP2cE4YdeJO8sUW0gNn9Dysc7tk_u8zJXVv5zmfq9fpOYdFh" target="_blank" rel="noopener noreferrer">foodcycler.com/blogs/sustainability/5-cheap-and-easy-ways-to-reduce-your-carbon-footprint-in-the-kitchen</a>. Accessed 16 Jan. 2025.</p>
    
        <p>“Farms, Markets & Orchards - Kentucky Tourism - Visit Kentucky.” Kentucky Tourism, <a href="https://www.kentuckytourism.com/things-to-do/food/farms-markets-orchards" target="_blank" rel="noopener noreferrer">www.kentuckytourism.com/things-to-do/food/farms-markets-orchards</a>. Accessed 16 Jan. 2025.</p>
    
        <p>“Food Allergies: What You Need to Know.” U.S. Food and Drug Administration, FDA, 16 Aug. 2016, <a href="https://www.fda.gov/food/buy-store-serve-safe-food/food-allergies-what-you-need-know" target="_blank" rel="noopener noreferrer">www.fda.gov/food/buy-store-serve-safe-food/food-allergies-what-you-need-know</a>.</p>
    
        <p>“Food Waste Reduction.” National Restaurant Association, <a href="https://restaurant.org/education-and-resources/learning-center/business-operations/sustainability/food-waste-reduction/" target="_blank" rel="noopener noreferrer">restaurant.org/education-and-resources/learning-center/business-operations/sustainability/food-waste-reduction</a>. Accessed 16 Jan. 2025.</p>
    
        <p>Fountaine, Sylvia. “40 Best Vegan Dinner Recipes.” Feasting At Home, 6 Jan. 2025, <a href="https://www.feastingathome.com/vegan-dinner-recipes/" target="_blank" rel="noopener noreferrer">www.feastingathome.com/vegan-dinner-recipes</a>.</p>
    
        <p>“From Farm to Table - Your Food Supply Chain.” Global Logistical Connections, Inc, 16 Mar. 2023, <a href="https://glc-inc.com/2023/03/from-farm-to-table-your-food-supply-chain-explained/" target="_blank" rel="noopener noreferrer">glc-inc.com/2023/03/from-farm-to-table-your-food-supply-chain-explained</a>.</p>
    
        <p>Kellow, Juliette. “A Sustainable Kitchen - Climate Friendly Cooking.” MyNutriWeb, 21 Sept. 2023, <a href="https://mynutriweb.com/sustainable-kitchen-climate-friendly-cooking/" target="_blank" rel="noopener noreferrer">mynutriweb.com/sustainable-kitchen-climate-friendly-cooking</a>.</p>
    
        <p>McRoy, Michale. “Vegan Menu Ideas for Your Restaurant.” Webstaurant Store, 2 Jan. 2024, <a href="https://www.webstaurantstore.com/blog/4366/vegan-menu-ideas-for-your-restaurant.html#:~:text=Lentil%20Loaf%20%2D%20Meatloaf%20made%20with,achievable%20with%20plant%2Dbased%20proteins." target="_blank" rel="noopener noreferrer">www.webstaurantstore.com/blog/4366/vegan-menu-ideas-for-your-restaurant.html</a>.</p>
    
        <p>Nett, Kjersten. “Gluten-Free: What Does That Mean?” Mayo Clinic Health System, Mayo Clinic Health System, 6 Aug. 2024, <a href="https://www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/gluten-free-what-does-that-mean" target="_blank" rel="noopener noreferrer">www.mayoclinichealthsystem.org/hometown-health/speaking-of-health/gluten-free-what-does-that-mean</a>.</p>
    
        <p>“Safe Food Preparation.” Centers for Disease Control and Prevention, Centers for Disease Control and Prevention, <a href="https://www.cdc.gov/restaurant-food-safety/php/practices/safe-food-preparation.html" target="_blank" rel="noopener noreferrer">www.cdc.gov/restaurant-food-safety/php/practices/safe-food-preparation.html</a>. Accessed 16 Jan. 2025.</p>
    </div>
</section>
{% endblock %}