{% extends 'website/base.html' %}
{% block title %}Reservation Success! - Simply Green{% endblock %}
{% block content %}
<style>
    header, footer {
        display: none;
    }
    .reservation-success-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Full viewport height to center vertically */
    }
    .reservation-header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .reservation-success {
        text-decoration: none;
        color: #fff;
        background-color: #28a745; /* Green color, adjust as needed */
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }
    .reservation-success:hover {
        background-color: #218838; /* Darker green on hover */
    }
</style>
<div class="reservation-success-container">
    <div class="reservation-header">Reservation Success!</div>
    <a href="{% url 'home' %}" class="reservation-success">Return home</a>
</div>
{% endblock %}